
body{
    background:url('../images/bk-16760843813451594096492.jpg') no-repeat center fixed;
    background-size: cover;
    
    margin: 0;
    
}
#header{
    background-color: brown;
}
.container{
    max-width: 1400px;
    margin: 0px auto;
}
nav{
    display: flex;
}
#logo{
margin: 2px;
}
#logo img{
    max-width: 63px;
    height: auto;
}
#Tieu-de{
    color: aliceblue;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 25px 40px;
    display: flex;
flex-direction: column;
justify-content: left;
text-align: left;
font-size: large;
}
#topnav {
    margin: 0;
    padding: 0;
    background-color: yellow;
    text-decoration: none;
    box-shadow:  1px 1px 5px yellow;
}
#tab{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: medium;
    display: flex;
    margin: 0px auto;
    max-width: 1400px;
}
#tab li a{
    color: black;
    display: block;
    text-decoration: none;
    padding: 10px 30px;
    
} 
#tab li:hover a{
    color: white;
    background-color: brown;
}
